//<MENU>=======================================
.menu {
	// .menu__body
	&__body {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 40, 0);
	}
	// .menu__icon
	&__icon {
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 50, 0, 2, 1920, 768);
		flex-wrap: wrap;
	}
	// .menu__item
	&__item {
		.menu__link {
			@media (max-width: $tablet) {
				display: none;
			}
		}
	}
	// .menu__link
	&__link {
		@include adaptiveValue("font-size", 20, 13);
		color: #fff;
		text-shadow: 0 0 rem(1) #000;
		@media (max-width: $tablet) {
			&.button {
				display: block;
				@include adaptiveValue("padding-top", 25, 15);
				@include adaptiveValue("padding-bottom", 25, 15);
				font-weight: 400;
				animation: pulse 3s infinite linear;
				@keyframes pulse {
					0% {
						color: $mainTextColor;
						box-shadow: 0 0 rem(7) rgba(255, 255, 255, 0);
					}
					50% {
						color: #fff;
						box-shadow: 0 0 rem(7) rgba(255, 255, 255, 1);
					}
					100% {
						color: $mainTextColor;
						box-shadow: 0 0 rem(7) rgba(255, 255, 255, 0);
					}
				}
			}
		}
	}
}
.top-menu {
}
.bottom-menu {
	justify-items: end;
}

//</MENU>=======================================

//<BURGER>=======================================
.icon-menu {
	display: none;
	@media (any-hover: hover) {
		&:hover {
			span,
			&::before,
			&::after {
				background-color: #fff;
			}
		}
	}
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			border-radius: rem(3);
			background-color: $mainTextColor;
			box-shadow: 0 0 rem(5) rgba(0, 0, 0, 1);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1.5));
		}
		//<MENU-OPEN>=================================
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1.5));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1.5));
				transform: rotate(45deg);
			}
			span,
			&::before,
			&::after {
				box-shadow: none;
			}
		}
		//</MENU-OPEN>=================================
	}
}
//</BURGER>=================================
