//<MENU>=======================================
.menu {
	// .menu__body
	&__body {
		display: grid;
		grid-template-columns: 1fr rem(50) 1fr;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("column-gap", 40, 0);
		margin: rem(0) rem(10);
	}
	// .menu__icon
	&__icon {
	}
	// .menu__list
	&__list {
		@media (min-width: $tablet) {
			display: flex;
			align-items: center;
			@include adaptiveValue("column-gap", 50, 0, 2, 1920, 768);
			flex-wrap: wrap;
		}
	}
	// .menu__item
	&__item {
		.menu__link {
			@media (max-width: $tablet) {
				display: none;
			}
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
					text-shadow: 0 0 rem(3) #000;
					font-weight: 400;
				}
			}
		}
	}
	// .menu__link
	&__link {
		@include adaptiveValue("font-size", 20, 13);
		color: $mainTextColor;
		line-height: math.div(26.4, 20);
		text-shadow: 0 0 rem(1) #000;
		transition:
			color 0.3s ease 0s,
			text-shadow 0.3s ease 0s;
		@media (max-width: $tablet) {
			&.button {
				display: block;
			}
		}
		@media (max-width: $mobileSmall) {
			&.button {
				width: rem(60);
				height: rem(55);
				font-size: 0;
				&::before {
					content: "";
					width: 100%;
					height: 100%;
					background: url("../img/icons/phone.svg") 50% 50% no-repeat;
					transition: transform 0.3s ease 0s;
				}
				@media (any-hover: hover) {
					&:hover {
						&::before {
							transform: scale(1.2);
						}
					}
				}
			}
		}
	}
}
.top-menu {
}
.bottom-menu {
}

//</MENU>=======================================

//<BURGER>=======================================
.icon-menu {
	display: none;
	@media (any-hover: hover) {
		&:hover {
			span,
			&::before,
			&::after {
				background-color: #fff;
			}
		}
	}
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			border-radius: rem(3);
			background-color: $mainTextColor;
			box-shadow: 0 0 rem(5) rgba(0, 0, 0, 1);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1.5));
		}
		//<MENU-OPEN>=================================
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1.5));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1.5));
				transform: rotate(45deg);
			}
			span,
			&::before,
			&::after {
				box-shadow: none;
			}
		}
		//</MENU-OPEN>=================================
	}
}
//</BURGER>=================================
