//<MENU>=======================================
.menu {
	// .menu__body
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: space-between;
		column-gap: rem(60);
		transition: top 0.5s ease-out 0s;
		overflow: auto;
		// position: relative;
		// @include adaptiveValue("column-gap", 60, 40);
		@media (max-width: $tablet) {
			@include adaptiveValue("padding-top", 103, 70);
			padding-right: rem(30);
			padding-left: rem(30);
			padding-bottom: rem(30);
			position: fixed;
			top: -110%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $mainTextColor;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			&::before {
				content: "";
				position: fixed;
				z-index: 5;
				width: 100%;
				@include adaptiveValue("height", 103, 50);
				top: -100%;
				left: 0;
				background-color: $mainTextColor;
				transition: top 0.5s ease-out 0s;
			}
		}
	}
	// .menu__icon
	&__icon {
	}
	// .menu__list
	&__list {
		@media (min-width: $tablet) {
			display: flex;
			align-items: center;
			@include adaptiveValue("column-gap", 50, 0, 2, 1920, 768);
			flex-wrap: wrap;
		}
	}
	// .menu__item
	&__item {
		.menu__link {
			@media (max-width: $tablet) {
				// display: none;
			}
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
					text-shadow: 0 0 rem(3) #000;
					font-weight: 400;
				}
			}
		}
	}
	// .menu__link
	&__link {
		@include adaptiveValue("font-size", 20, 13);
		color: $mainTextColor;
		line-height: math.div(26.4, 20);
		text-shadow: 0 0 rem(1) #000;
		transition:
			color 0.3s ease 0s,
			text-shadow 0.3s ease 0s;
		@media (max-width: $tablet) {
			font-size: rem(35);
			display: block;
			@include adaptiveValue("margin-bottom", 30, 10);
			color: $grayColor;
		}
	}
	&__tel,
	&__home-tel {
		position: relative;
		z-index: 2;
		&::before {
			font-size: 0;
		}
	}
	// .menu__tel
	&__tel {
	}
	&__home-tel {
		color: $mainTextColor;
		@media (max-width: $tablet) {
			border-color: $grayColor;
			color: $grayColor;
		}
	}
}
.left-menu {
}
.right-menu {
}

//</MENU>=======================================

//<BURGER>=======================================
.icon-menu {
	display: none;
	@media (any-hover: hover) {
		&:hover {
			span,
			&::before,
			&::after {
				background-color: #fff;
			}
		}
	}
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			border-radius: rem(3);
			background-color: $mainTextColor;
			box-shadow: 0 0 rem(5) rgba(0, 0, 0, 1);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1.5));
		}
		//<MENU-OPEN>=================================
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1.5));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1.5));
				transform: rotate(45deg);
			}
			span,
			&::before,
			&::after {
				box-shadow: none;
				background-color: $grayColor;
			}
		}
		//</MENU-OPEN>=================================
	}
}
//</BURGER>=================================
.menu-open {
	.menu__home-tel.button_blur {
		border: rem(1) solid $grayColor;
		@extend --anim-red;
	}
	.button_blur {
		border: rem(1) solid $grayColor;
		@extend --anim-gray;
	}
	.button_red {
		@extend --anim-white;
	}
	.button_tel {
	}
	@media (max-width: $tablet) {
		& .menu__body {
			top: 0;
			&::before {
				top: 0;
			}
		}
		.menu__item .menu__link {
			@media (any-hover: hover) {
				&:hover {
					color: $mainColor;
					text-shadow: 0 0 rem(5) $mainColor;
					font-weight: 400;
				}
			}
		}
		.header__logo {
			color: $grayColor;
			font-weight: 400;
			text-shadow: 0px 0px 1px #000;
			p {
				display: none;
			}
		}
		& .top-footer__button {
			font-size: rem(22);
		}
	}
}
