.about {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	// .about__btn
	&__btn {
	}
	// .about__body
	&__body {
		position: absolute;
		width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
		@media (min-width: $tablet) {
			display: flex;
		}
	}
	// .about__column
	&__column {
	}
	// .about__buttons-place
	&__buttons-place {
	}
	// .about__menu
	&__menu {
	}
	// .about__bg-image
	&__bg-image {
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
// .about-content
.about-content {
	flex: 1 1 55%;
}
// .about-media
.about-media {
	flex: 1 1 45%;
	display: flex;
	align-items: flex-end;
	position: relative;
}
.menu-about {
	// .menu-about__body
	&__body {
		position: relative;
		z-index: 3;
	}
	// .menu-about__list
	&__list {
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
	// .menu-about__item
	&__item {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 24);
		}
	}
	// .menu-about__link
	&__link {
		@include adaptiveValue("font-size", 28, 24);
		line-height: math.div(30.8, 28);
		color: $mainTextColor;
		font-weight: 400;
	}
}
