.catalog {
	// .catalog__container
	&__container {
	}
	// .catalog__body
	&__body {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 96, 75);
		}
	}
	// .catalog__btn
	&__btn {
	}
	// .catalog__title
	&__title {
	}
	// .catalog__columns
	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
		@include adaptiveValue("gap", 30, 10);
		justify-content: center;
		align-items: end;
	}
	// .catalog__column
	&__column {
	}
	// .catalog__item
	&__item {
	}
	// .catalog__info
	&__info {
		margin-bottom: rem(40);
		@include adaptiveValue("padding-left", 50, 0);
		@include adaptiveValue("padding-right", 50, 0);
		display: flex;
		@include adaptiveValue("column-gap", 60, 30);
		row-gap: rem(20);
		@media (min-width: em(1200)) {
			justify-content: flex-end;
		}
		@media (max-width: em(1200)) {
			flex-wrap: wrap;
		}
	}
}
.item-catalog {
	// text-align: center;
	// .item-catalog__link
	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .item-catalog__status
	&__status {
		font-size: 18px;
		line-height: math.div(27, 18);
		color: $grayColor;
		&:not(:last-child) {
			margin-bottom: rem(5);
		}
	}
	// .item-catalog__image
	&__image {
		width: 100%;
		display: block;
		position: relative;
		padding-bottom: 56%;
		border-radius: rem(30);
		overflow: hidden;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: transform 0.3s ease 0s;
			transform: scale(1);
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.02);
				}
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 17, 10);
		}
	}
	// .item-catalog__name
	&__name {
		@include adaptiveValue("font-size", 27, 22);
		line-height: math.div(32.4, 27);
		color: $grayColor;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 17, 10);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
	}
	// .item-catalog__price
	&__price {
		@include adaptiveValue("font-size", 28, 22);
		line-height: math.div(33.6, 28);
		color: $grayColor;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 13, 10);
		}
	}
}
.info-catalog {
	// .info-catalog__item-title
	&__item-title {
		font-size: rem(18);
		color: $grayColor;
		font-weight: 500;
		line-height: math.div(27, 18);
	}
	// .info-catalog__list
	&__list {
	}
	// .info-catalog__item
	&__item {
		font-size: rem(18);
		color: $grayColor;
		line-height: math.div(27, 18);
	}
	// .info-catalog__link
	&__link {
		text-decoration: underline;
	}
}
