// Заголовки, общие БЄМ блоки и проче...

.content {
	@media (min-width: $tablet) {
		// margin-bottom: rem(20);
	}
	@include adaptiveValue("padding-top", 120, 90);
	@include adaptiveValue("padding-bottom", 140, 70);
	@include adaptiveValue("padding-left", 120, 20);
	@include adaptiveValue("padding-right", 120, 20);
	// .content__titles
	&__title {
		hyphens: auto;
		margin-top: rem(50);
		font-size: rem(45);
		line-height: math.div(74.8, 68);
		color: $grayColor;
		&:not(:last-child) {
			// margin-bottom: rem(10);
			@include adaptiveValue("margin-bottom", 40, 25);
		}
	}
	// .content__column
	&__column {
		@media (min-width: em(1200)) {
			display: grid;
			grid-template-columns: repeat(2, minmax(rem(200), rem(300)));
			gap: rem(20);
		}
	}
	// .content__text
	&__text {
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(30, 20);
		color: $grayColor;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 16);
			}
		}
	}
	// .content__list
	&__list {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
	}
	// .content__item
	&__item {
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(30, 20);
		position: relative;
		color: $grayColor;
		padding-left: rem(15);
		&::before {
			content: "";
			position: absolute;
			@include adaptiveValue("top", 9, 7);
			left: 0;
			width: rem(9);
			height: rem(9);
			display: block;
			background-color: $mainColor;
			border-radius: 50%;
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
}

.buttons-footer {
}
.animations {
	@keyframes pulse-white {
		0% {
			color: $mainTextColor;
			box-shadow: 0 0 rem(7) rgba(255, 255, 255, 0);
		}
		50% {
			color: #fff;
			box-shadow: 0 0 rem(7) rgba(255, 255, 255, 1);
		}
		100% {
			color: $mainTextColor;
			box-shadow: 0 0 rem(7) rgba(255, 255, 255, 0);
		}
	}
	@keyframes pulse-gray {
		0% {
			color: $grayColor;
			box-shadow: 0 0 rem(7) rgba(56, 62, 66, 0);
		}
		50% {
			color: #000;
			box-shadow: 0 0 rem(7) rgba(56, 62, 66, 1);
		}
		100% {
			color: $grayColor;
			box-shadow: 0 0 rem(7) rgba(56, 62, 66, 0);
		}
	}
	@keyframes pulse-red {
		0% {
			color: $grayColor;
			box-shadow: 0 0 rem(7) rgba(47%, 14%, 14%, 0);
		}
		50% {
			color: $mainColor;
			box-shadow: 0 0 rem(7) rgba(47%, 14%, 14%, 1);
		}
		100% {
			color: $grayColor;
			box-shadow: 0 0 rem(7) rgba(47%, 14%, 14%, 0);
		}
	}
}
--anim-red {
	animation: pulse-red 3s infinite linear;
}
--anim-gray {
	animation: pulse-gray 3s infinite linear;
}
--anim-white {
	animation: pulse-white 3s infinite linear;
}

--text-shadow-red {
	text-shadow: 0 0 rem(3) $mainColor;
}
--text-shadow-white {
	text-shadow: 0 0 rem(3) #fff;
}
//<GLOBAL Animations>=================================

//</GLOBAL Animations>=================================
