// Заголовки, общие БЄМ блоки и проче...
.button {
	@include adaptiveValue("padding-top", 10, 5);
	@include adaptiveValue("padding-bottom", 10, 2);
	@include adaptiveValue("padding-left", 20, 10);
	@include adaptiveValue("padding-right", 20, 10);
	border-radius: rem(25);
	color: #fff;
}
.button-red {
	background-color: #792423;
}
.button-blur {
	backdrop-filter: blur(rem(5));
	border: 1px solid #fff;
}
.icon-menu {
}

//<GLOBAL Animations>=================================

//</GLOBAL Animations>=================================
