// Заголовки, общие БЄМ блоки и проче...

.content {
	@include adaptiveValue("padding-top", 120, 90);
	@include adaptiveValue("padding-bottom", 140, 70);
	@include adaptiveValue("padding-left", 120, 20);
	@include adaptiveValue("padding-right", 120, 20);
	// .content__titles
	&__title {
		hyphens: auto;
		margin-top: rem(50);
		font-size: rem(45);
		line-height: math.div(74.8, 68);
		color: $grayColor;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
	}
	// .content__column
	&__column {
		@media (min-width: em(1200)) {
			display: grid;
			grid-template-columns: repeat(2, minmax(rem(200), rem(300)));
			gap: rem(20);
		}
	}
	// .content__text
	&__text {
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(30, 20);
		color: $grayColor;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 16);
			}
		}
	}
	// .content__list
	&__list {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
	}
	// .content__item
	&__item {
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(30, 20);
		position: relative;
		color: $grayColor;
		padding-left: rem(15);
		&::before {
			content: "";
			position: absolute;
			@include adaptiveValue("top", 9, 7);
			left: 0;
			width: rem(9);
			height: rem(9);
			display: block;
			background-color: $mainColor;
			border-radius: 50%;
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
}
// .proj-color
.proj-color {
	flex: 0 0 rem(42);
	height: rem(42);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-45deg);
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: rem(1) solid $grayColor;
		opacity: 0;
		visibility: hidden;
		transition:
			visibility 0.3s ease 0s,
			opacity 0.3s ease 0s;
	}
	& span {
		border: rem(1) solid $grayColor;
		position: relative;
		flex: 0 0 rem(34);
		height: rem(34);
		border-radius: 50%;
		overflow: hidden;
		&::after,
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 51%;
			left: 0;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
	}
	// .proj-color_white-gray
	&_white-black {
		& span {
			&::before {
				background-color: #fff;
			}
			&::after {
				background-color: $grayColor;
			}
		}
	}
	// .proj-color_gray-white
	&_black-white {
		& span {
			&::before {
				background-color: $grayColor;
			}
			&::after {
				background-color: #fff;
			}
		}
	}
	// .proj-color_red-green
	&_red-green {
		& span {
			&::before {
				background-color: rgba(120, 31, 25, 1);
			}
			&::after {
				background-color: rgba(60, 79, 49, 1);
			}
		}
	}
	// .proj-color_white
	&_white {
		& span {
			&::before {
				background-color: rgba(255, 255, 255, 1);
			}
			&::after {
				background-color: rgba(255, 255, 255, 1);
			}
		}
	}
	// .proj-color_black
	&_black {
		& span {
			&::before {
				background-color: $grayColor;
			}
			&::after {
				background-color: $grayColor;
			}
		}
	}
}
.buttons-footer {
}
.animations {
	@keyframes pulse-white {
		0% {
			color: $mainTextColor;
			box-shadow: 0 0 rem(7) rgba(255, 255, 255, 0);
		}
		50% {
			color: #fff;
			box-shadow: 0 0 rem(7) rgba(255, 255, 255, 1);
		}
		100% {
			color: $mainTextColor;
			box-shadow: 0 0 rem(7) rgba(255, 255, 255, 0);
		}
	}
	@keyframes pulse-gray {
		0% {
			color: $grayColor;
			box-shadow: 0 0 rem(7) rgba(56, 62, 66, 0);
		}
		50% {
			color: #000;
			box-shadow: 0 0 rem(7) rgba(56, 62, 66, 1);
		}
		100% {
			color: $grayColor;
			box-shadow: 0 0 rem(7) rgba(56, 62, 66, 0);
		}
	}
	@keyframes pulse-red {
		0% {
			color: $grayColor;
			box-shadow: 0 0 rem(7) rgba(47%, 14%, 14%, 0);
		}
		50% {
			color: $mainColor;
			box-shadow: 0 0 rem(7) rgba(47%, 14%, 14%, 1);
		}
		100% {
			color: $grayColor;
			box-shadow: 0 0 rem(7) rgba(47%, 14%, 14%, 0);
		}
	}
}
--anim-red {
	animation: pulse-red 3s infinite linear;
}
--anim-gray {
	animation: pulse-gray 3s infinite linear;
}
--anim-white {
	animation: pulse-white 3s infinite linear;
}

--text-shadow-red {
	text-shadow: 0 0 rem(3) $mainColor;
}
--text-shadow-white {
	text-shadow: 0 0 rem(3) #fff;
}
//<GLOBAL Animations>=================================

//</GLOBAL Animations>=================================
