//<FOOTER>=================================
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	@media (max-width: $mobileSmall) {
		.footer__bg {
		}
		.footer__bottom {
			// display: none;
		}
	}
	// .footer__container
	&__container {
		// position: relative;
	}
	// .footer__body
	&__body {
		@include adaptiveValue("margin-bottom", 30, 10);
		@media (min-width: $mobile) {
			margin-top: 0;
		}
		@media (min-width: $mobileBig) {
			@include adaptiveValue("margin-top", 30, 10);
		}
	}
	// .footer__home-top
	&__home-top {
		display: flex;
		align-items: center;
		@media (min-width: $tablet) {
			justify-content: space-between;
			@include adaptiveValue("column-gap", 30, 10);
			@include adaptiveValue("row-gap", 30, 10);
		}
		@media (max-width: $tablet) {
			.top-footer__column {
				// flex: 1 1 70%;
				display: flex;
				.top-footer__button {
					// flex: 1 1 50%;
				}
			}
		}
	}
	// .footer__bottom
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: rem(3);
		padding-bottom: rem(2);
	}
	// .footer__bg
	&__bg {
		position: relative;
		background-color: $grayColor;
		transform: translate(0px, 0px);
		transition: transform 0.3s ease 0s;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: rem(2);
			top: rem(-2);
			left: 0;
			background-color: #792423;
		}
	}
}
.top-footer {
	// .top-footer__home-left
	&__home-left {
		.top-footer__button {
			@media (max-width: $mobile) {
			}
		}
	}
	// .top-footer__home-right
	&__home-right {
		@media (max-width: $tablet) {
		}
		.top-footer__button {
			@media (max-width: $tablet) {
			}
		}
		@media (max-width: $mobileBig) {
		}
	}
	// .top-footer__left
	&__left {
		@media (max-width: $mobileBig) {
			// flex: 1 1 auto;
		}
		@media (max-width: $mobileSmall) {
			// flex: 1 1 auto;
			& .button-blur {
			}
			& .button-red {
				// width: 100%;
				// animation: pulse 3s infinite linear 1s;
			}
			& .button {
			}
		}
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .top-footer__right
	&__right {
		@media (max-width: $mobileBig) {
		}
	}
	// .top-footer__column
	&__column {
		@include adaptiveValue("column-gap", 30, 10);
		@include adaptiveValue("row-gap", 30, 10);
	}
	// .top-footer__button
	&__button {
		@media (max-width: $mobileSmall) {
		}
		@media (max-width: $mobile) {
		}
	}
}
.bottom-footer {
	// .bottom-footer__privacy-policy
	&__privacy-policy {
		color: #7c858b;
		@include adaptiveValue("font-size", 20, 13);
	}
	// .bottom-footer__developer
	&__developer {
		color: #7c858b;
		@include adaptiveValue("font-size", 20, 13);
	}
}
//</FOOTER>=================================
