//<FOOTER>=================================
.footer {
	position: relative;
	z-index: 5;
	@media (max-width: $mobileSmall) {
		.footer__bg {
		}
		.footer__bottom {
			// display: none;
		}
	}
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		@include adaptiveValue("margin-bottom", 30, 10);
		@media (min-width: $mobile) {
			margin-top: 0;
		}
		@media (min-width: $mobileBig) {
			@include adaptiveValue("margin-top", 30, 10);
		}
	}
	// .footer__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("column-gap", 30, 10);
		@include adaptiveValue("row-gap", 30, 10);
	}
	// .footer__bottom
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: rem(3);
	}
	// .footer__bg
	&__bg {
		position: relative;
		background-color: #383e42;
		transform: translate(0px, 0px);
		transition: transform 0.3s ease 0s;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: rem(2);
			top: rem(-2);
			left: 0;
			background-color: #792423;
		}
	}
}
.top-footer {
	@media (max-width: $mobileBig) {
	}
	// .top-footer__left
	&__left {
		display: flex;
		@include adaptiveValue("column-gap", 30, 10);
		@include adaptiveValue("row-gap", 30, 10);
		@media (max-width: $mobileBig) {
			// flex: 1 1 auto;
		}
		@media (max-width: $mobileSmall) {
			// flex: 1 1 auto;
			& .button-blur {
			}
			& .button-red {
				width: 100%;
				animation: pulse 3s infinite linear 1s;
				@keyframes pulse {
					0% {
						color: $mainTextColor;
						box-shadow: 0 0 rem(7) rgba(255, 255, 255, 0);
					}
					50% {
						color: #fff;
						box-shadow: 0 0 rem(7) rgba(255, 255, 255, 1);
					}
					100% {
						color: $mainTextColor;
						box-shadow: 0 0 rem(7) rgba(255, 255, 255, 0);
					}
				}
			}
			& .button {
				// @include adaptiveValue("font-size", , );
			}
		}
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .top-footer__right
	&__right {
		display: flex;
		@include adaptiveValue("column-gap", 30, 10);
		@include adaptiveValue("row-gap", 30, 10);
		@media (max-width: $mobileBig) {
			display: none;
		}
	}
	// .top-footer__button
	&__button {
		@media (max-width: $mobileBig) {
			flex: 1 1 50%;
		}
	}
}
.bottom-footer {
	// .bottom-footer__privacy-policy
	&__privacy-policy {
		color: #7c858b;
		@include adaptiveValue("font-size", 20, 13);
	}
	// .bottom-footer__developer
	&__developer {
		color: #7c858b;
		@include adaptiveValue("font-size", 20, 13);
	}
}
//</FOOTER>=================================
