//<HEADER>=================================
.header {
	width: 100%;
	position: relative;
	z-index: 5;
	// .header__text
	&__text {
		@include adaptiveValue("font-size", 50, 20);
	}
	// .header__wrapper
	&__wrapper {
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		@include adaptiveValue("padding-top", 20, 5);
		@include adaptiveValue("padding-bottom", 20, 5);
	}
	// .header__logo
	&__logo {
		display: inline-block;
		color: #fff;
		@include adaptiveValue("font-size", 22, 13);
		text-transform: uppercase;
		justify-items: center;
		justify-self: center;
		@include adaptiveValue("width", 66, 45);
		img {
			animation: logo 10s infinite linear;
			max-width: 100%;
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
		@keyframes logo {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(180deg);
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__top
	&__top {
	}
	// .header__bottom
	&__bottom {
		@media (max-width: $tablet) {
			display: flex;
			justify-content: flex-end;
		}
	}
}

//</HEADER>=================================
