//<HEADER>=================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	// position: relative;
	z-index: 6;
	// background-color: #000;
	// .header__text
	&__text {
		@include adaptiveValue("font-size", 50, 20);
	}
	// .header__wrapper
	&__wrapper {
	}
	// .header__container
	&__container {
		@include adaptiveValue("margin-top", 20, 5);
		@include adaptiveValue("margin-bottom", 20, 5);
	}
	// .header__body
	&__body {
		position: relative;
	}
	// .header__logo
	&__logo {
		position: absolute;
		height: 100%;
		top: 0;
		left: 50%;
		z-index: 2;
		display: inline-block;
		color: #fff;
		transform: translate(-50%, 0px);
		@include adaptiveValue("font-size", 22, 13);
		text-transform: uppercase;
		justify-items: center;
		justify-self: center;
		@include adaptiveValue("width", 66, 45);
		// @include adaptiveValue("margin-top", 20, 5);
		img {
			animation: logo 10s infinite linear;
			max-width: 100%;
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
		@media (max-width: $tablet) {
			p {
				// display: none;
			}
		}
		@keyframes logo {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(180deg);
			}
		}
	}
	// .header__menu
	&__menu {
		position: relative;
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
	}
	// .header__left
	&__left {
	}
	// .header__right
	&__right {
		display: block;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
		@media (min-width: $tablet) {
			display: flex;
			justify-content: flex-end;
		}
	}
	// .header__buttons-home-footer
	&__buttons-home-footer {
		@media (max-width: $tablet) {
			.top-footer__home-right {
				display: flex;
				flex-wrap: wrap;
			}
			.top-footer__button {
				flex: 0 0 50%;
			}
		}
		@media (max-width: $mobile) {
			.top-footer__button {
				flex: 1 1 100%;
			}
		}
	}
	// .header__buttons-footer
	&__buttons-footer {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
		@media (max-width: $tablet) {
			.top-footer__button {
				flex: 0 0 50%;
			}
		}
		@media (max-width: $mobile) {
			.top-footer__button {
				flex: 1 1 100%;
			}
		}
		@media (min-width: $tablet) {
			display: none;
		}
	}
}

//</HEADER>=================================
