//<HEADER>=================================
.header {
	width: 100%;
	position: relative;
	z-index: 3;
	// @include adaptiveValue("min-height", 100, 50);
	// .header__text
	&__text {
		@include adaptiveValue("font-size", 50, 20);
	}
	// .header__wrapper
	&__wrapper {
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		@include adaptiveValue("padding-top", 20, 5);
		@include adaptiveValue("padding-bottom", 20, 5);
	}
	// .header__logo
	&__logo {
		color: #fff;
		@include adaptiveValue("font-size", 22, 13);
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include adaptiveValue("width", 66, 45);
		img {
			animation: logo 10s infinite linear;
			max-width: 100%;
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
		@keyframes logo {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(180deg);
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__top
	&__top {
		flex: 1 1 45%;
	}
	// .header__bottom
	&__bottom {
		flex: 1 1 45%;
		justify-self: end;
	}
}

//</HEADER>=================================
